

<div class="gig-page-model-container">
  <div class="gig-page">
    <div class="gig-page-image-container">
      <%= image_tag @gig.image_url%>
    </div>
    <div class="gig-description">
      <h1><%= @gig.artist_name %></h1>
      <h2><%= @gig.venue %><h2> <%= @gig.city %> | <%= @gig.country %></h2></h2>
      <h2><%= @gig.date.strftime("%a, %b %d %Y") %> | <%= @gig.time.strftime(" %l:%M ") %>PM</h2>
      <h2>Price: <%= @gig.ticket_price %>€</h2>
      <!-- <h2><%= @gig.venue_location %></h2> -->
      <!-- <button class="btn">Tickets</button> -->
      <%= link_to "Tickets", "https://www.ticketmaster.se/event/jon-hopkins-polarity-tours-2021-biljetter/557455?language=en-us", :target => "_blank", class: "btn"%>

      <p><%= @gig.description%></p>
    </div>
  </div>
</div>


